* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  min-height: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#power-profiles-daemon,
#tray,
#mode,
#bluetooth,
#custom-spotify {
  padding: 0px 15px;
  color: #e5e5e5;
  border-radius: 20px;
  background-color: #1e1e1e;
}
